// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$gray-dark: #292b2c;
$pink:   #ff5b77;
$body-bg: $pink;

$jumbotron-padding: 1rem;

