.jumbotron {
  background-color: $gray-light;
  margin-top: $spacer-y * 1;



  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.jumbotron-hr {
  border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: $spacer-y;
  @include border-radius(0);
}
